body {
  text-align: center;
  font-family: helvetica, sans-serif;
}

header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

a {
  color: white;
}

header a {
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3.txt-img-h2 {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
